tensorflow==2.1.0
matplotlib==3.2.1
py_common_subseq==0.2
numpy==1.18.2
gdown==3.10.2
pandas==1.0.3
opencv_python==4.2.0.32
Keras==2.3.1
requests==2.23.0
editdistance==0.5.3
beautifulsoup4==4.9.0
Pillow==7.1.1
unicode_slugify==0.1.3
