/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

@include mat-core();


// /* go to http://mcg.mbitson.com/ to change this; you'll want to output in 'Angular JS 2 (Material 2)' format */

$md-primary: (
    50 : #e1e7ee,
    100 : #b3c2d4,
    200 : #8199b8,
    300 : #4f709b,
    400 : #295285,
    500 : #033370,
    600 : #032e68,
    700 : #02275d,
    800 : #022053,
    900 : #011441,
    A100 : #7692ff,
    A200 : #4369ff,
    A400 : #1041ff,
    A700 : #0032f6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);




// $movie-app-primary: mat-palette($mat-indigo);
$movie-app-accent: mat-palette($mat-amber);
// // $movie-app-primary: mat-palette($mat-orange);
// // $movie-app-accent: mat-palette($mat-light-blue);


$movie-app-primary: mat-palette($md-primary);
// $movie-app-accent: mat-palette($md-moviesecondary);
$movie-app-warn: mat-palette($mat-red);

$movie-app-theme: mat-light-theme($movie-app-primary, $movie-app-accent, $movie-app-warn);
// $movie-app-theme: mat-light-theme($movie-app-primary, $movie-app-accent, $movie-app-warn);

@mixin mix-app-theme($movie-app-theme) {
  $primary: map-get($movie-app-theme, primary);

  .mat-button-toggle-checked {
    background-color: mat-color($primary);
    font-weight: bold;

    .mat-button-toggle-label-content {
      color: $light-primary-text;
    }
  }
}

@include mix-app-theme($movie-app-theme);

@include angular-material-theme($movie-app-theme);

body {
  margin: 0;
}

.mat-button-toggle-label-content {
  text-align: left;
}
