  <div id="navbar">
    <mat-toolbar class="mat-elevation-z6" id="header" color='primary'>
      <button mat-button style="padding: 0" (click)="router.navigate(['landing'])"><img src="movievislogo.png" alt="image" height="36" width="200"></button>
      <span class="spacer"></span>
      <span >
          <button mat-button
          (click)="navigate(item)"
          *ngFor="let item of navItems">{{item.display}}</button>
      </span>
    </mat-toolbar>
  </div>

  <div *ngIf="showTitle" id="titlebar">
    <mat-toolbar color='primary'>
      <span id="title" class="mat-title">
        <h1 mat-display-1>{{title}}</h1>
      </span>
    </mat-toolbar>
  </div>

  <mat-sidenav-container autosize>
    <mat-sidenav mode="side" [opened]="showSideNav">
      <mat-button-toggle-group (change)="clickSheet($event)" [vertical]="true">
        <mat-button-toggle [id]="item.index" [value]="item.name" [checked]="item.isActive" *ngFor="let item of sheets; trackBy: trackByFunc">
          {{item.name}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div id="footer">
    <mat-toolbar color='primary'>
      <span class="spacer"></span>
      <span>
        <a mat-icon-button disableRipple="true" [href]="GITHUB_URL">
          <fa-icon [icon]="['fab', 'github']" style="display: flex; justify-content: center" size="3x"></fa-icon>
        </a>
      </span>
    </mat-toolbar>
  </div>
